{% extends "layout.html" %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Question Time Intelligent System</h1>
      <p style="text-align: justify">
      An Intelligent System for the Categorization of Question Time Official Documents of the Italian Chamber of Deputies<br><br>
      Available models:
      <ul>
      <li>Support Vector Machine (SVM)</li>
      <li>Multi-Layer Percetron (MLP)</li>
      <li>Complement Naive Bayes (CNB)</li>
      <li>Passive Aggressive Classifier (PAC)</li> 
      <li>Convolutional Neural Network (CNN)</li>
      </ul> 
      <p style="text-align: justify">   
    </div>
  </div>
 {% endblock %}     