<!DOCTYPE html>
<html lang="en">
<title>Text Classifier</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<!--  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}"> -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/te.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/xlsx.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/te.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>

<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top"> <!--   style="margin-left:100px; margin-right: 100px"> -->
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large" >
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-theme-l1">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About</a>
  </div>
</div>

<div class="w3-main"  style="margin-left:200px; margin-right: 100px">  <!--  style="margin-left:250px" -->

  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container"   style="width:1000px">
      <h1 class="w3-text-teal">Text labeling procedure</h1>
      <p>
      <form action="{{ url_for('upload_file') }}"method=post enctype=multipart/form-data>
      	Upload excel or csv file: 
      	<input type=file name=file>
      	<input type=submit value=Upload>
      </form>
  
    <hr width=100% size=6 color=#000000>
 
      <form name="form2"  action="{{ url_for('appClassifier.classifier') }}"  onsubmit="return validateForm()" method="post" >
      <input type="hidden" id="filepath" name="filepath" value="{{ filename }}">  
  		<div>
    		<label for="codice">Document identifier:</label>
    		<input type="text" id="codice" name="codice">
  		</div>
  		<div>
    		<label for="testo">Edit or paste text to label:</label>
    		<textarea id="testo" name="testo"  rows="4" cols="100"></textarea>
  		</div>
  		<div>
  		
  		<hr width=100% size=6 color=#000000>
        
        <p>
      	<label for="classifier"><span>Select classifier:</span></label>
        <select id="idclassifier" name="classifier">
        	<option value="BOW_SVM">SVM (no feature selection)</option>
        	<option value="BOW_20000_SVM">SVM (with feature selection)</option>
        	<option value="BOW_MLP">MLP (no feature selection)</option>
        	<option value="BOW_20000_MLP">MLP (with feature selection)</option>
        	<option value="BOW_CNB">CNB (no feature selection)</option>
        	<option value="BOW_20000_CNB">CNB (with feature selection)</option>
        	<option value="BOW_PAC">PAC (no feature selection)</option>
        	<option value="BOW_20000_PAC">PAC (with feature selection)</option>
        	<option value="DEEPLEARNING">DEEP LEARNING MODEL</option>
       </select>
       <input type=submit value=SUBMIT>
       </div>
	</form> 
	<br/>
	<h1 class="w3-text-teal">Score:</h1>
     <p>
     {% if results %}
     <table border='1' class='dataframe'  id='idTable'> 
     <thead><tr style='text-align: right;'><th style='font-size: 12pt'>id</th><th  style='font-size: 12pt'>text</th><th  style='font-size: 12pt'>label</th></thead>
    <tbody> 
     {% for row in results %}
    	 <tr><td>{{ row['id'] }}</td><td style="text-align: justify">{{ row['testo'] }}</td><td style='text-align: right'><b>{{ row['classe'] }}</b></td> </tr>
      {% endfor %}
      </tbody>
     </table>
     {% endif %}
     {% if results_df %}
       {{ results_df|safe }}
     {% endif %}
     
      
<!-- 	<button onclick="exportTableToExcel('idTable', 'members-data')">SAVE EXCEL FILE</button>
      <p>
     {{ results|safe }}
     <iframe id="txtArea1" style="display:none"></iframe>
     <button id="btnExport" onclick="fnExcelReport();"> SAVE EXCEL </button>
     </p>
	      -->
    </div>
   </div>

      
      {% with messages = get_flashed_messages(with_categories=true) %}
  		<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
  	 {% if messages %}
     		{% for category, message in messages %}
      			<div class="alert alert-{{ category }} alert-dismissible" role="alert">
      			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			<!-- <strong>Title</strong> --> {{ message }}
      			</div>
   	 		{% endfor %}
  		{% endif %}
	{% endwith %}
  
<!--    
 <div class="w3-row">
    <div class="w3-twothird w3-container"   style="width:1156px" > 
      <h1 class="w3-text-teal">Risultato:</h1>
      <p>
     {{ results_df|safe }}
     </p>
    </div> 
 </div> 
-->

  <!-- Pagination -->
<!--   <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a class="w3-button w3-black" href="#">1</a>
      <a class="w3-button w3-hover-black" href="#">2</a>
      <a class="w3-button w3-hover-black" href="#">3</a>
      <a class="w3-button w3-hover-black" href="#">4</a>
      <a class="w3-button w3-hover-black" href="#">5</a>
      <a class="w3-button w3-hover-black" href="#">»</a>
    </div>
  </div> -->

<!-- END MAIN -->
</div>

  <footer id="myFooter">
<!--     <div class="w3-container w3-theme-l2 w3-padding-32"> -->
<!--       <h4>Footer</h4> -->
<!--     </div> -->

    <div class="w3-container w3-theme-l1">
      <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </div>
  </footer>

<script>

function validateForm() { 
	var x = document.forms["form2"]["filepath"].value;
	var y = document.forms["form2"]["testo"].value;
	var z = document.forms["form2"]["codice"].value;

	  if ((x == "" && y ==  "") || (x == null && y == null) || (x == null && y == "")){
	    //alert("Caricare un file e/o un testo da classificare");
	    alert("Upload file and/or text to label")
	    return false;
	  }
	  if ((y != "") && (z == "")){
		  //return confirm("non è stato assegnato nessun identificativo documento\n se non viene specificato il sistema ne assegnerà uno in automatico.\n \n Vuoi continuare?");
		  return confirm("No document ID has been assigned\n if it is not specified, the system will automatically assign one.\n \n Do you want to continue?");
	  }
	  if ((y == "") && (z != "")){
		  //alert("Nessun documento associato all'identificativo inserito");
		  alert("No documents associated with the identification entered");
		  return false;
	  }
	return true;	  
}  
	
//$("table").tableExport();

 /* $(function(){
      alert("My First Jquery Test");
   });
*/
new TableExport(document.getElementsByTagName("table"), {
	  headers: true,                      // (Boolean), display table headers (th or td elements) in the <thead>, (default: true)
	  footers: true,                      // (Boolean), display table footers (th or td elements) in the <tfoot>, (default: false)
	  formats: ["xlsx", "xls", "csv"],    // (String[]), filetype(s) for the export, (default: ['xlsx', 'csv', 'txt'])
	  filename: "report",                     // (id, String), filename for the downloaded file, (default: 'id')
	  bootstrap: true,                   // (Boolean), style buttons using bootstrap, (default: true)
	  exportButtons: true,                // (Boolean), automatically generate the built-in export buttons for each of the specified formats (default: true)
	  position: "top",                 // (top, bottom), position of the caption element relative to table, (default: 'bottom')
	  ignoreRows: null,                   // (Number, Number[]), row indices to exclude from the exported file(s) (default: null)
	  ignoreCols: null,                   // (Number, Number[]), column indices to exclude from the exported file(s) (default: null)
	  trimWhitespace: true,               // (Boolean), remove all leading/trailing newlines, spaces, and tabs from cell text in the exported file(s) (default: false)
	  RTL: false,                         // (Boolean), set direction of the worksheet to right-to-left (default: false)
	  sheetname: "id"                     // (id, String), sheet name for the exported spreadsheet, (default: 'id')
	});

</script>

</body>
</html>