{% extends "layout.html" %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Carica Dati da Classificare</h1>
      <p>
      <form action="{{ url_for('upload_file') }}"method=post enctype=multipart/form-data>
      	caricare un file excel o csv: 
      	<input type=file name=file>
      	<input type=submit value=Upload>
      </form>
      <p><font color="red">{% for message in get_flashed_messages() %}{{ message }}{% endfor %}</font>
     <p><hr width=100% size=6 color=#000000>
      <p>
 
      <form name="form2"  action="{{ url_for('appClassifier.classifier') }}"  onsubmit="return validateForm()" method="post" >
      <input type="hidden" id="filepath" name="filepath" value="{{ filename }}">  
  		<div>
    		<label for="codice">Identificativo documento:</label>
    		<input type="text" id="codice" name="codice">
  		</div>
  		<div>
    		<label for="testo">Inserisci testo da classificare:</label>
    		<textarea id="testo" name="testo"  rows="4" cols="100"></textarea>
  		</div>
  		<div>
  		<p><hr width=100% size=6 color=#000000>
  		<p>
      	<label for="classifier"><span>Scegliere classificatore:</span></label>
        <select id="idclassifier" name="classifier">
        	<option value="BOW_SVM">SVM (no feature selection)</option>
        	<option value="BOW_20000_SVM">SVM (with feature selection)</option>
        	<option value="BOW_MLP">MLP (no feature selection)</option>
        	<option value="BOW_20000_MLP">MLP (with feature selection)</option>
        	<option value="BOW_CNB">CNB (no feature selection)</option>
        	<option value="BOW_20000_CNB">CNB (with feature selection)</option>
        	<option value="BOW_PAC">PAC (no feature selection)</option>
        	<option value="BOW_20000_PAC">PAC (with feature selection)</option>
        	<option value="DEEPLEARNING">DEEP LEARNING MODEL</option>
       </select>
       <input type=submit value=classifica>
       </p>
       </div>
	</form>      
    </div>
  </div>
  
  {% endblock %}
