{% extends "layout.html" %}
{% block head %}
 {{ super() }}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/common.css') }}"> 
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/te.css') }}">
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/xlsx.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/common.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/te.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script> -->
{% endblock %}
{% block content %}
 <!--  <div class="w3-row w3-padding-64"> --> 
 <div class="w3-row">
    <div class="w3-twothird w3-container"   style="width:1000px">
    <br>
    <br>
	<h1 class="w3-text-teal">Risultato:</h1>
     <p>
     {% if results %}
     <h2 class="w3-text-teal">Risultati KFold Cross Validation Stratificata (macro media)</h2>
     <table border='1' class='dataframe'  id='idTable'> 
     <thead><tr style='text-align: right'><th style='font-size: 12pt'>Fold</th><th  style='font-size: 12pt'>Accuratezza</th><th  style='font-size: 12pt'>Precisione</th><th  style='font-size: 12pt'>Recall</th><th  style='font-size: 12pt'>F1score</th></tr></thead>
    <tbody> 
     {% for row in results %}
    	 <tr>
    	 <td style="text-align: right ; font-size: 12pt">{{ row['Fold'] }}</td>
    	 <td style="text-align: right ; font-size: 12pt">{{ row['Accuratezza'] }}</td>
    	 <td style='text-align: right ; font-size: 12pt'>{{ row['Precisione'] }}</td> 
    	 <td style='text-align: right ; font-size: 12pt'>{{ row['Recall'] }}</td>
    	 <td style='text-align: right ; font-size: 12pt'>{{ row['F1score'] }}</td>
       </tr>
      {% endfor %}
      </tbody>
     </table>
     {% endif %}
     
     {% if results_df %}
       {{ results_df|safe }}
     {% endif %}
     
     {% if total['best_score'] %}
     <p><span style="font-size: 12pt;">Miglior risultato raggiunto al ciclo: <b style="color:red">{{ total['best_score'] }}</b> con accuratezza max: <b style="color:red">{{ total['Accuratezza max']}}</b> <input type="button" onclick="document.location.href='index.html';" value="Download"> </span>
     {% endif %}
     
	   {% if total %}
     <h2 class="w3-text-teal">Risultato generale addestramento {{ total['modello'] }}</h2>
     <table border='1' class='dataframe'  id='idTable'> 
     <thead><tr style='text-align: right;'><th style='font-size: 12pt'>Metriche</th><th  style='font-size: 12pt'>Media Pesata</th><th  style='font-size: 12pt'>Deviazione std</th><th  style='font-size: 12pt'>Valore max</th></tr></thead>
    <tbody> 
    	 <tr>
    	 	<td style="text-align: left ; font-size: 12pt"><b>Accuracy</b></td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Accuracy mean'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Accuracy std'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Accuracy max'] }}</td>
    	 </tr>
    	 <tr>
    	 	<td style="text-align: left ; font-size: 12pt"><b>Precision</b></td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Precision mean'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Precision std'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Precision max'] }}</td>
    	 </tr>
    	 <tr>
    	 	<td style="text-align: left ; font-size: 12pt"><b>Recall</b></td>
     	 	<td style="text-align: right ; font-size: 12pt">{{ total['Recall mean'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Recall std'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['Recall max'] }}</td>
    	 </tr>
    	  <tr>
			<td style="text-align: left ; font-size: 12pt"><b>F1 score</b></td>
			<td style="text-align: right ; font-size: 12pt">{{ total['F1score mean'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['F1score std'] }}</td>
    	 	<td style="text-align: right ; font-size: 12pt">{{ total['F1score max'] }}</td>
    	 </tr>
      </tbody>
     </table>
     {% endif %}
     
     {% if classes %}
     <h2 class="w3-text-teal">Risultati per classe</h2>
     <table border='1' class='dataframe'  id='idTable'> 
     <thead><tr style="text-align: right;"><th style="font-size: 12pt;">Classe</th><th  style="font-size: 12pt;">Descrizione</th><th  style="font-size: 12pt;">Precisione</th><th  style="font-size: 12pt;">Recall</th><th  style="font-size: 12pt;">F1score</th></tr></thead>
    <tbody> 
     	{% for line in classes %}
    		 <tr>
    	 		<td style="text-align: right ; font-size: 12pt;">{{ line['Classe'] }}</td>
    	 		<td style="text-align: left ; font-size: 12pt;">{{ line['Descrizione'] }}</td>
    	 		<td style="text-align: right ; font-size: 12pt;">{{ line['Precisione'] }}</td> 
    	 		<td style="text-align: right ; font-size: 12pt;">{{ line['Recall'] }}</td>
    	 		<td style="text-align: right ; font-size: 12pt;">{{ line['F1score'] }}</td>
    	 	</tr>
      {% endfor %}
     </tbody>
     </table>
     {% endif %}
     
     {% if notResults %}
     <p><span style="font-size: 12pt;">Addestrato modello: <b style="color:red">{{ notResults['modello'] }}</b></span> 
     <p><span style="font-size: 12pt;">Tempo di esecuzione: <b style="color:red">{{ notResults['time_elapsed']}}</b></span>
     <p><span style="font-size: 12pt;">Directory di output: <b style="color:red">{{ notResults['output_dir']}}</b></span>
     {% endif %}
	    
    </div>
  </div>
  {% endblock %}
