{% extends "layout.html" %}
{% block content %}
  <div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Carica Dataset per Addestramento</h1>
      <p>
      <form action="{{ url_for('upload2_file') }}"method=post enctype=multipart/form-data>
      	caricare un file excel o csv: 
      	<input type=file name=file>
      	<input type=submit value=Upload>
      </form>
      <p><font color="red">{% for message in get_flashed_messages() %}{{ message }}{% endfor %}</font>
     <p><hr width=100% size=6 color=#000000>
      <p>
 
      <form name="form2"  action="{{ url_for('appTrainer.trainer') }}"  onsubmit="return validateForm()" method="post" >
      <input type="hidden" id="filepath" name="filepath" value="{{ filename }}">  
  		<div>
  			 <input type="checkbox"  id="vocab" name="vocab"  value="True">
  			 <label for="vocab">Utilizzare feature selection:</label>
  		</div>
  		<div>
  		    <!--  <input type="checkbox"  id="analisi" name="analis"  value="True"> -->
  		    <input type="checkbox" id="check" onclick="toggleBoxVisibility()" name="stratifiedCV"  value="true">
    		<label for="stratifiedCV">Analisi kfold cross validation stratificata a doppio ciclo:</label>
  		</div>

  		<div id="boxfold"  style="visibility: hidden"> 
  			<label for="kfold"><span>Scegliere numero di fold</span></label>	
        	<select id="idfold" name="kfold">
        		<option value="5">5 fold</option>
        		<option value="10">10 fold</option>
       		</select>
  		</div>
  		<p><hr width=100% size=6 color=#000000>
      	<label for="trainer"><span>Scegliere modello da addestrare:</span></label>
        <select id="trainer" name="trainer">
        	<option value="BOW_SVM">SVM (Support Vector Machine)</option>
        	<option value="BOW_CNB">CNB (Complement Naive Bayes)</option>
        	<option value="BOW_PAC">PAC (Passive-Aggressive Algorithms)</option>
        	<option value="BOW_MLP">MLP (NN MultiLayer Percetron)</option>
        	<!--   <option value="CNN">CNN (Convolutional Neural Network)</option> -->
       </select>
       <input type=submit value=addestra>
	</form>      
    </div>
  </div>
  
  {% endblock %}
